@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1634353931001') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duihua:before {
  content: "\f0132";
}

.icon-tuichu:before {
  content: "\f017c";
}

.icon-youjian:before {
  content: "\e61b";
}

.icon-tianjiatianchong:before {
  content: "\e696";
}

.icon-kefufill:before {
  content: "\e740";
}

.icon-biji:before {
  content: "\e63f";
}

.icon-xiala:before {
  content: "\e65c";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-diaochawenjuan:before {
  content: "\e67f";
}

.icon-daohangshoucangyishoucang:before {
  content: "\e625";
}

.icon-fenlei:before {
  content: "\e638";
}

.icon-shijian:before {
  content: "\e639";
}

.icon-tianjia:before {
  content: "\e613";
}

.icon-ziyuan:before {
  content: "\e65a";
}

.icon-gengduo-hengxiang:before {
  content: "\e8c4";
}

.icon-gengduo-shuxiang:before {
  content: "\e8c5";
}

.icon-sousuo:before {
  content: "\e86e";
}

.icon-shezhi:before {
  content: "\e892";
}

.icon-jiantouyou:before {
  content: "\e62d";
}

.icon-jiantouxia:before {
  content: "\e62e";
}

.icon-icon_tianjia:before {
  content: "\eb89";
}

.icon-shangchuan:before {
  content: "\e603";
}

.icon-xiaozu:before {
  content: "\e764";
}

.icon-chaxun:before {
  content: "\ec4c";
}

.icon-fanhuidingbu:before {
  content: "\e6f8";
}

.icon-fujian:before {
  content: "\e616";
}

.icon-wodekecheng:before {
  content: "\e614";
}

.icon-jurassic_pc:before {
  content: "\e6a0";
}

.icon-dianzan:before {
  content: "\e8ad";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-xiazai:before {
  content: "\e8bc";
}

.icon-dianzan1:before {
  content: "\e8c3";
}

.icon-lajitong:before {
  content: "\e652";
}

.icon-geren:before {
  content: "\e601";
}

.icon-bijiben:before {
  content: "\e60f";
}

.icon-send-sms-full:before {
  content: "\e8a1";
}

.icon-yunpan:before {
  content: "\e79b";
}

